<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<nav>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
      <li><a href="{{ url_for('github_login') }}">Login with GitHub</a>
      
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  
  {% block content %}{% endblock %}
</section>