{% extends 'base.html' %}

{% block content %}
                   
        <!-- form -->
        <div id="myDIV" class="header">
                    <h2> Do Me! ...Done!, Get it? </h2>

                    <form action="/", method="POST">
                        <input type="text" name="content" id="content" placeholder="Add new task">
                        <input type="submit" class="addBtn" value="Add">
                    </form>
        </div>
            
    {% if context|length < 1 %}
        <br>
        <h3 class="text-center"> Nothing here, add one. </h3>  
    {% else %}      

        <!--List-->
        <ul id="myUL">

            {% for task in context %}
                <li>
                <div class="container">
                    <div class="row">

                        <div class="col-6"> {{ task.name }} </div>

                        <div class="col-2">
                            <a href="/delete/{{ task._id }}"> Done </a>
                        </div>

                        <div class="col-2">
                            <a href="/update/{{ task._id }}"> Update </a>
                        </div>

                        <div class="col-2">
                            <a href="/delete/{{ task._id }}"> Delete </a>
                        </div>
                    </div>

                        
                </div>
                </li>
            {% endfor %}
        </ul>
                  
    {% endif %}

{% endblock %}