{% extends 'base.html' %}

{% block content %}

        <!-- form -->
        <div id="myDIV" class="header">
                    <h2> Do Me! ...Done!, Get it? </h2>
                    <br>
                    <form action="/", method="POST">
                        <input type="text" name="content" id="content" placeholder="Add new task">
                        <input type="submit" class="addBtn" class="btn btn-primary" value="Add">
                    </form>
        </div>
            
    {% if context|length < 1 %}

        <br>
        <h3 class="text-center"> Nothing here, add one. </h3>  

    {% else %}      

        <!--List-->
        <ul id="myUL">

            {% for task in context %}
                <li>
                <div class="container">
                    <div class="row">

                        <div class="col-1" class="icon" >
                            <a href="/delete/{{ task._id }}"> <i class="far fa-check-circle"></i> </a>
                        </div>

                        <div class="col-9" > {{ task.name }} </div>

                        <div class="col-1" class="icon">
                            <a href="/update/{{ task._id }}"> <i class="far fa-edit"></i> </a>
                        </div>

                        <div class="col-1" class="icon" >
                            <a href="/delete/{{ task._id }}"> <i class="far fa-trash-alt"></i> </a>
                        </div>
                    </div>

                        
                </div>
                </li>
            {% endfor %}
        </ul>
                  
    {% endif %}

{% endblock %}